
.c-group-home {
  padding-bottom: 32px;

  &__section-title {
    padding: 8px 0;
    color: color('black');
    font-size: 16px;
    font-weight: bold;
  }
  
  &__user-balance {
    border-bottom: 1px solid color('light-grey');
  }

  &__group-balance {
    float: left;
    width: 40%;
    padding: 16px 12px;
  }

  &__transactions {
    border-left: 1px solid color('light-grey');
    float: right;
    width: 60%;
    padding: 16px 12px;
  }
}
