
.c-group-header {
  position: fixed;
  padding: 0 rem(16px);
  background-color: color('light-white');
  border-bottom: 1px solid color('light-grey');
  top: 0;
  width: 100%;
  height: rem($group-header-height);
  z-index: 900;

  &__logo-block {
    float: left;
    padding-right: rem(32px);
    height: rem($group-header-height);
    width: auto;
    color: color('main');
  }

  &__logo {
    $logo-height: 28px;
    float: left;
    margin: rem(($group-header-height - $logo-height) / 2) 0;
    height: rem($logo-height);
    width: auto;
  }

  &__app-title {
    padding-right: 4px;
  }

  &__title {
    float: left;
    padding-left: rem(12px);
    font-size: rem(16px);
    font-weight: $bold;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: rem($group-header-height);
  }

  &__menu {
    float: left;
    overflow: hidden;
    height: $group-header-height;
  }

  &__right-menu {
    float: right;
    overflow: hidden;
    height: $group-header-height;
  }

  &__menu-item {
    float: left;
    margin-right: rem(32px);
    height: $group-header-height;
    font-size: rem(14px);
    line-height: $group-header-height;
    color: color('dark-grey');
    cursor: pointer;

    &:hover {
      color: color('black');
    }

    &:last-of-type {
      margin-right: 0;
    }

    &--is-active {
      color: color('main');
      font-weight: $bold;
    }
  }
}

@media (max-width: $media-lg-width) {
  .c-group-header {
    &__title {
      max-width: 350px;
    }

    &__menu-item {
      margin-right: rem(24px);
    }
  }
}

@media (max-width: $media-sm-width) {
  .c-group-header {
    padding: 0 rem(16px) rem($group-header-sm-height / 2) rem(16px);
    height: rem($group-header-sm-height);

    &__app-title {
      display: none;
    }

    &__title {
      max-width: 200px;
    }

    &__menu {
      display: flex;
      flex-wrap: nowrap;
      position: absolute;
      padding: 0 rem(16px);
      top: rem($group-header-sm-height / 2);
      left: 0;
      width: 100%;
      height: rem($group-header-sm-height / 2);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    &__menu-item {
      float: none;
      flex: 0 0 auto;
    }
  }
}
