
.c-header {
  position: fixed;
  padding: 0 rem(16px);
  background-color: color('light-white');
  border-bottom: 1px solid color('light-grey');
  top: 0;
  width: 100%;
  height: rem($header-height);

  &__logo-block {
    float: left;
    padding-right: rem(32px);
    height: rem($header-height);
    width: auto;
    color: color('main');
  }

  &__logo {
    $logo-height: 28px;
    float: left;
    margin: rem(($header-height - $logo-height) / 2) 0;
    height: rem($logo-height);
    width: auto;
  }

  &__app-title {
    padding-right: 4px;
  }

  &__title {
    float: left;
    padding-left: rem(12px);
    font-size: rem(16px);
    font-weight: $regular;
    line-height: rem($group-header-height);
  }
}
