
.c-transaction {
  border-bottom: 1px solid color('light-white');
  padding: 18px 12px;
  font-size: 14px;
  line-height: 1.5em;
  color: color('black');
  overflow: hidden;

  &__info-box {
    overflow: hidden;
  }

  &__description {
    float: left;
    padding-right: 12px;
  }

  &__amount {
    float: left;
    padding-right: 12px;
    color: color('lime');

    &--is-rejected {
      color: color('red');
      text-decoration: line-through;
    }
  }

  &__name {
    float: left;
    padding-right: 12px;
  }

  &__created-at {
    float: right;
    color: color('grey');
  }

  &__status {
    float: right;
    color: color('lime');

    &--is-rejected {
      color: color('red');
    }
  }

  &__buttons {
    padding: 4px 0;
    overflow: hidden;
  }

  &__button {
    display: block;
    float: left;
    background-color: color('link');
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    text-align: center;
    color: color('white');
    font-size: 11px;
    line-height: 1em;
    cursor: pointer;

    &--is-cancel {
      background-color: color('grey');
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
