
.c-transaction {
  border-bottom: 1px solid color('light-white');
  padding: 18px 12px;
  font-size: 14px;
  line-height: 1.5em;
  color: color('black');
  overflow: hidden;

  &__info-box {
    overflow: hidden;
  }

  &__description {
    float: left;
    padding-right: 12px;
  }

  &__amount {
    float: left;
    padding-right: 12px;
    color: color('lime');

    &--is-rejected {
      color: color('red');
      text-decoration: line-through;
    }
  }

  &__name {
    float: left;
    padding-right: 12px;
  }

  &__created-at {
    float: right;
    color: color('grey');
  }

  &__auto-accept-at {
    color: color('grey');
  }

  &__status {
    float: right;
    padding-right: 12px;
    color: color('lime');

    &--is-rejected {
      color: color('red');
    }
  }
}
