
body {
  font-family: $font-stack;
}

body:lang(en) {
  font-family: $en-font-stack;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:link,
  &:visited {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

input, textarea, keygen, select, button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 42px;
  font-weight: $regular;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 28px;
  font-weight: $medium;
  letter-spacing: 1px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 {
  font-size: 24px;
  font-weight: $regular;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 18px;
  font-weight: $regular;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  font-size: 16px;
  font-weight: $regular;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 {
  font-size: 14px;
  font-weight: $regular;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

li ul, li ol {
  margin: 0 1.5em;
}

ul, ol {
  margin: 0 1.5em 1.5em 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

b, strong {
  font-weight: bold;
}

em, i, dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

code {
  font-family: $monospace-font-stack;
}
