
.u-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}

.u-no-display {
  display: none;
}

.u-header-container {
  padding-top: $header-height;
}

.u-group-header-container {
  padding-top: $group-header-height;
}

@media (max-width: $media-sm-width) {
  .u-group-header-container {
    padding-top: $group-header-sm-height;
  }
}

.u-float-container {
  display: block;
  overflow: hidden;
}

.u-amount {
  color: color('lime');

  &--is-negative {
    color: color('pink');
  }
}

.u-page-title {
  padding: 8px 0;
  color: color('black');
  font-size: 16px;
  font-weight: bold;
}

.u-page-body {
  padding: 18px 0;
}

.u-pagination {
  padding: 16px 0;
  text-align: center;

  &__link {
    display: inline-block;
    padding: 0 14px;
    color: color('grey');
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    &--is-active {
      text-decoration: underline;
      color: color('link');
    }
  }
}

.u-input-group {
  padding: 4px 0;
}

.u-label {
  display: block;
  padding: 4px 0;
  color: color('dark-grey');
  font-size: 12px;
}

.u-input {
  display: block;
  margin: 4px 0;
  border: 1px solid color('grey');
  border-radius: 0;
  outline: none;
  padding: 8px 12px;
  font-size: 14px;
  color: color('dark-grey');
  width: 100%;

  &:focus {
    border: 1px solid color('link');
  }
}

.u-input-selector {
  display: block;
  overflow: hidden;

  &__button {
    float: left;
    background-color: color('link');
    padding: 8px 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 100px;
    text-align: center;
    color: color('white');
    font-size: 12px;
    cursor: pointer;

    &--is-clear {
      background-color: color('grey');
    }

    &:hover {
      background-color: lighten(color('link'), 20%);
      color: color('white');
    }
  }
}

.u-input-info {
  display: block;
  padding-bottom: 4px;
  color: color('grey');
  font-size: 11px;
}

.u-help-block {
  display: block;
  padding-bottom: 4px;
  color: color('red');
  font-size: 11px;
}

.u-alert {
  display: block;
  margin: 4px 0;
  color: color('red');
  font-size: 14px;
}

.u-button-row {
  padding: 16px 0;
  overflow: hidden;

  &--tight {
    padding: 4px 0;
  }
}

.u-button {
  display: block;
  float: right;
  background-color: color('link');
  padding: 8px 12px;
  margin-right: 4px;
  margin-bottom: 4px;
  min-width: 100px;
  text-align: center;
  color: color('white');
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: lighten(color('link'), 20%);
    color: color('white');
  }

  &--left-align {
    float: left
  }

  &--is-cancel {
    background-color: color('grey');
  }

  &--is-disabled {
    background-color: lighten(color('link'), 50%);
    cursor: not-allowed;
    color: color('white');

    &:hover {
      background-color: lighten(color('link'), 50%);
      color: color('white');
    }
  }

  &--is-active {
    background-color: lighten(color('link'), 20%);
    color: color('white');

    &:hover {
      background-color: lighten(color('link'), 20%);
      color: color('white');
    }
  }
}

.u-more-button {
  display: block;
  border-bottom: 1px solid color('light-white');
  padding: 18px 12px;
  font-size: 14px;
  color: color('black');
  overflow: hidden;
  text-align: center;

  &:hover {
    color: color('lime');
  }
}

.u-info-block-container {
  padding: 12px 0;
}

.u-info-block {
  background-color: color('light-white');
  border: 1px solid color('light-grey');
  padding: 4px 4px;

  &__description {
    display: block;
    padding: 4px 0;
    font-size: 14px;
    color: color('black');
  }

  &__items {
    font-size: 12px;
    color: color('dark-grey');
  }

  &__item {
    padding: 4px 0;
    line-height: 1.5em;
    list-style-type: square;
    list-style-position: inside;
  }
}
