
$font-stack: 'Noto Sans CJK', 'Malgun Gothic', 'Helvetica', 'Myriad Pro', 'Arial', sans-serif;
$en-font-stack: 'Roboto', 'Noto Sans CJK', 'Helvetica', 'Myriad Pro', 'Arial', sans-serif;
$monospace-font-stack: 'Inconsolata', 'Lucida Console', 'Courier New', monospace;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
