
$font-stack: 'Noto Sans CJK', 'Malgun Gothic', 'Helvetica', 'Myriad Pro', 'Arial', sans-serif;
$en-font-stack: 'Roboto', 'Noto Sans CJK', 'Helvetica', 'Myriad Pro', 'Arial', sans-serif;
$monospace-font-stack: 'Inconsolata', 'Lucida Console', 'Courier New', monospace;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$header-height: 50px;
$group-header-height: 50px;

$header-sm-height: 100px;
$group-header-sm-height: 100px;

$media-sm-width: 768px;
$media-lg-width: 1200px;
