
.c-bar-item {
  display: block;
  float: left;

  &--align-left {
    float: left;
    padding-right: rem(8px);
  }

  &--align-right {
    float: right;
    padding-left: rem(8px);
  }

  &:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }
}
