.c-container {
  &--type-default {
    padding: rem(16px) rem(16px);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: rem(1024px);
  }

  &--type-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &--is-headered {
    padding-top: $header-height;
  }

  &--is-group-headered {
    padding-top: $group-header-height;
  }
}

@media (max-width: $media-sm-width) {
  .c-container {
    &--is-group-headered {
      padding-top: $group-header-sm-height;
    }
  }
}
