.c-title {
  display: block;
  padding: rem(4px) 0;
  font-weight: $bold;

  &--size-small {
    font-size: rem(16px);
  }

  &--size-default {
    font-size: rem(18px);
  }

  &--size-large {
    font-size: rem(20px);
  }
}
